
html, body {
  // background-image: url('/img/111.png') !important;
  background-image: linear-gradient(to right, #a3a3b1, #a3b3bf, #a8c2c5, #b9cfc5, #d3dac6);}

.ui.container{
  width: 85% !important;
}

@media (max-width: 768px) {
  .ui.container{
    margin: 0 auto !important
  }
}

p {
  margin-top: 15px;
  font-weight: bold;
  font-size: 15px;
}

.dataColumn{
  p{
    margin-top: 30px;
  }
}